body{
  background-image: url("../assets/bg_image5.jpg");
  background-repeat: no-repeat;

  background-position: 69% 34%;
  background-size: 175%;
  width: 100vw;
  height: 100vh;



}

.container{
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
}

.pageNav{
  height: 100px;
  position: relative;
}
.logo{
  width: 200px;
  height: 100px;
  margin-left: 2vw;
}

.logoDiv{
  display: inline-block;
}

ul.menu{
  top: 20%;
  right: 5%;
  position: absolute;
  display:inline-block;
  max-width: 500px;

}

ul.menu>li{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.4vw ;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding: 0 2vw 0 2vw;
}
ul.menu>li:first-child{
  color: white;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  background:linear-gradient(white,white) bottom left no-repeat;
  background-size:100% 2px;
  background-position: 0% 100%;
  padding: 0 0 7px 0;
  margin-right: 2vw;

}

ul.menu>li:last-child{
  color: white;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  border: 2px solid white;
  padding: 5px 2vw 5px 2vw;
  border-radius: 5px;
  margin-left: 2vw;

}

ul.menu>li:first-child:hover{
  color: white;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding-bottom: 7px;
  background:linear-gradient(white,white) bottom left no-repeat;
  background-size:50% 2px;
  background-position: 0% 100%;
}

ul.menu>li:last-child:hover{
  color: black;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  border: 2px solid white;
  padding: 5px 2vw 5px 2vw;
  border-radius: 5px;
  margin-left: 2vw;
  background-color: white;

}

.article-home{
  margin-top: 5vw;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: center;

}

#p1{
  font-size: 2.5vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;

}

#beAwesome{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
#p2{
  margin-top: 100px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.3vw;
}

.circleSquare{
  margin-top: 100px;
  width: 60px;
  height: 60px;
}



.footer-container
{
  margin-top: 1vw;
width: 100%;

}

.footer-socials{
  margin-left:auto;
  margin-right:auto;
  width: 500px;
}

.social>img{
  width: 2vw;
  height: 2vw;
}

.social>p{
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.2vw;
  margin-left:auto;
  margin-right:auto;
  height: 2.4vw;
  margin-top: 0;
  margin-bottom: 0;
  width: 650px;
}

.social{
  display: inline-block;
  height: 2.1vw;
  padding: 0 2.7vw 0 2.7vw;
  width: 150px;
}

.footer-triangle{
  margin-top: 4vw;
  background-image: url("../assets/trojkat.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 7vw;
  height: 4.375vw;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  position: relative;


}

#triangleText{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1vw;
  top: 20%;
  left: 30%;
  position: absolute;
}

@media screen and (max-width: 1024px)
{
  body{
    background-size: 190%;
    background-position: 65% 35%;
  }
  .article-home{
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    width: 38.5vw;
    text-align: center;
}

.circleSquare{
  margin-top: 8vw;
  width: 8vw;
  height: 8vw;
}

@media screen and (min-width: 1440px)
{
  body{
    background-position: 68% 34%;
    background-size: 180%;
  }
}
