body{
  background-image: url("../assets/bg_image5.jpg");
  background-repeat: no-repeat;

  background-position: 69% 34%;
  background-size: 175%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  min-width: 320px;
}
.displayOn{
  display: block;
}
.displayOff{
  display:none;
}


.container{
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
}


.pageNav{
  height: 10vw;
  position: relative;
}
.logo{
  width: 16vw;
  height: 8vw;
  margin-left: 4vw;
}

.logoDiv{
  display: inline-block;
}

.hamburgerMenu{
    display:none;
}

ul.menu{
  top: 20%;
  right: 5%;
  position: absolute;
  display:inline-block;
  max-width: 50vw;

}

ul.menu>li{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.2vw ;
  list-style-type: none;
  display: inline-block;
  padding: 0 1.8vw 0 1.8vw;
}
ul.menu>li:first-child{
  color: white;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  background:linear-gradient(white,white) bottom left no-repeat;
  background-size:100% 2px;
  background-position: 0% 100%;
  padding: 0 0 7px 0;
  margin-right: 2vw;

}

ul.menu>li:last-child{
  color: white;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  border: 2px solid white;
  padding: 5px 2vw 5px 2vw;
  border-radius: 5px;
  margin-left: 2vw;

}

ul.menu>li:first-child:hover{
  color: white;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding-bottom: 7px;
  background:linear-gradient(white,white) bottom left no-repeat;
  background-size:50% 2px;
  background-position: 0% 100%;
}

ul.menu>li:last-child:hover{
  color: black;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  border: 2px solid white;
  padding: 5px 2vw 5px 2vw;
  border-radius: 5px;
  margin-left: 2vw;
  background-color: white;

}

.article-home{
  margin-top: 3vw;
  margin-left: auto;
  margin-right: auto;
  width: 38.5vw;
  text-align: center;

}

#p1{
  font-size: 2.5vw;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;

}

#beAwesome{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
#p2{
  margin-top: 8vw;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.3vw;
}

.circleSquare{
  margin-top: 8vw;
  width: 6vw;
  height: 6vw;
}



.footer-container
{
  margin-top: 1vw;
width: 100%;

}

.footer-socials{
  margin-left:auto;
  margin-right:auto;
  width: 44vw;
  text-align: center;
}

.social>img{
  width: 2vw;
  height: 2vw;
}

.social>p{
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.2vw;
  margin-left:auto;
  margin-right:auto;

  margin-top: 0;
  margin-bottom: 30px;
  width: 6.64vw;
}

.social{
  display: inline-block;
  height: 2.1vw;
  padding: 0 2.2vw 0 2.2vw;
  width: 10vw;
}

.footer-triangle{
  margin-top: 4vw;
  background-image: url("../assets/trojkat.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 7vw;
  height: 4.375vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 0;


}

#triangleText{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1vw;
  top: 20%;
  left: 30%;
  position: absolute;
}

@media screen and (min-width: 320px) and (max-width: 768px)
{
  body{
    background-position: 61% 40%;
    background-size: 370%;
    color: white;
  }
  .openedMenu{
    background-color:#001820;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    position: absolute;
  }

  .mobileMenu{
    list-style-type: none;
    -webkit-padding-start: 0;

  }

  ul.mobileMenu>li{
    margin-bottom: 12vw;
    margin-top: 12vw;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;

  }

  ul.mobileMenu>li:first-child{
    margin-bottom: 0;;
    margin-top: 12vw;
    color: white;
    text-align: center;
    display: inline-block;
    list-style-type: none;
    width: 25vw;
    margin-left: 37.5vw;

  }

  ul.mobileMenu>li:first-child:hover{

    background:linear-gradient(white,white) bottom left no-repeat;
    background-size:50% 2px;
    background-position: 0% 100%;
  }

  ul.mobileMenu>li:last-child{
  border: 2px solid white;
  border-radius: 2vw;
  }

  ul.mobileMenu>li:last-child:hover{
  border: 2px solid white;
  border-radius: 2vw;
  background-color: white;
  color: black;
  }
  .x>img{
    display: inline-block;
    width: 7vw;
    height: 7vw;
    position: absolute;
    top: 6vw;
    right: 8vw;
  }


  .socialsMenu>img{
    width: 7vw;
    height: 7vw;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center;
  }

  .socialsMenu{
    margin-top: 20vw;
    margin-left: 9.5vw;
  }

  .pageNav{
    height: 10vw;
    position: relative;
  }
  .logo{
    width: 36vw;
    height: 16vw;


  }

  .logoDiv{
    padding-top: 3vw;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-left: 28vw;
  }

  .hamburgerMenu{
      display: inline-block;
      width: 8vw;
      height: 8vw;
      position: absolute;
      top: 6vw;
      right: 8vw;
  }

  ul.menu{

    display:none;


  }

  .article-home{
    margin-top: 20vw;
    margin-left: auto;
    margin-right: auto;
    width: 67vw;
    text-align: center;

  }

  #p1{
    font-size: 6.2vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;

  }

  #beAwesome{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
  #p2{
    margin-top: 10vw;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    width: 60vw;
  }

  .circleSquare{
    margin-top: 1vw;
    width: 16vw;
    height: 16vw;
  }



  .footer-container
  {
    margin-top: 5vw;
  width: 100%;

  }

  .footer-socials{
    margin-left:auto;
    margin-right:auto;
    width: 44vw;
    text-align: center;
  }

  .social>img{
    width: 5vw;
    height: 5vw;
    display:inline-block;
  }

  .social>p{
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 4vw;
    margin-left:auto;
    margin-right:auto;

    margin-top: 0;
    margin-bottom: 0;
    width: 30vw;
  }

  .social{
    display:block;
    height: 10vw;
    padding:  2.2vw 0 2.2vw 0;
    width: 50vw;
  }

  .footer-triangle{
    margin-top: 4vw;
    background-image: url("../assets/trojkat.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 14vw;
    height: 8.75vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0;


  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px)
{
  body{
    background-position: 67% 35%;
    background-size: 195%;

  }

  .pageNav{
    padding-top: 2vw;
    height: 10vw;
    position: relative;
  }

  .article-home{
    margin-top: 8vw;
    margin-left: auto;
    margin-right: auto;
    width: 38.5vw;
    text-align: center;
  }

.circleSquare{
  margin-top: 7.5vw;
  width: 8vw;
  height: 8vw;
}

#p2{
  margin-top: 11vw;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.3vw;
}

.footer-triangle{
  margin-top:7vw;
  background-image: url("../assets/trojkat.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 7vw;
  height: 4.375vw;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 0;


}
}

@media screen and (min-width: 1440px)
{
  body{
    background-position: 69% 32%;
    background-size: 180%;
  }

  .pageNav{
    padding-top: 2vw;
    height: 10vw;
    position: relative;
  }

  .article-home{
    margin-top: 6vw;
    margin-left: auto;
    margin-right: auto;
    width: 38.5vw;
    text-align: center;
  }
  .circleSquare{
    margin-top: 5.5vw;
    width: 8vw;
    height: 8vw;
  }

  #p2{
    margin-top: 7vw;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
  }
  .footer-triangle{
    margin-top:3.5vw;
    background-image: url("../assets/trojkat.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 6vw;
    height: 3.75vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 0;


  }
}
